node_modules/
.env
.env.local

blockchain/node_modules/
blockchain/artifacts/
blockchain/cache/
blockchain/coverage/
blockchain/coverage.json

deployment/node_modules/

deployment/state/dev/*
deployment/state/preview/*
deployment/state/prd/*
!deployment/state/README.md

*.log
.DS_Store
